.parent{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.activity-container{
    margin-left: 80px;
}
@media (max-width: 575.98px){
    .parent{
        display: block;
    }
    .activity-container{
        margin-top: 20px;
        margin-left: 40px;
    }
}